In [2]:
import pandas as pd

#file_path = '/content/online_retail.csv'
#sales_data = pd.read_csv(file_path)
#print(sales_data.head())
path = 'data/online_retail.csv'
retail_data = pd.read_csv(path)

#Excel
#data_excel = pd.read_excel(path)

#JSON
#data_json = pd.read_json(path)

#print(type(retail_data))
print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [3]:
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])

dt_from_array = pd.DataFrame(data, columns=['A','B', 'c'])
print(dt_from_array)

   A  B  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
data = [[1,'Jhon', 22], [2,'Anna', 24]]

df_from_list = pd.DataFrame(data, columns = ['ID', 'Name', 'Age'])
print(df_from_list)

   ID  Name  Age
0   1  Jhon   22
1   2  Anna   24

In [5]:
data = [{'ID': 1,
         'Name': 'Jhon',
         'Age' : 22}]
dt_from_dict_list = pd.DataFrame(data)
print(dt_from_dict_list )

   ID  Name  Age
0   1  Jhon   22

In [6]:
data = {'ID': [1,2,3], 'Name': ['Jhon', 'Anna', 'Mike'], 'Age': [22,24,21]}

df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   ID  Name  Age
0   1  Jhon   22
1   2  Anna   24
2   3  Mike   21

In [7]:
data = {'ID': pd.Series([1,2,3]),
        'Name': pd.Series(['Jhon', 'Anna', 'Mike']),
        'Age': pd.Series([22,24,21])}

df_from_series_dict = pd.DataFrame(data)
print(df_from_series_dict)

   ID  Name  Age
0   1  Jhon   22
1   2  Anna   24
2   3  Mike   21

In [10]:
from google.colab import drive

drive.mount('/content/drive')
file_path = "/content/drive/My Drive/online_retail.csv"

sales_data = pd.read_csv(file_path)
print(sales_data.head())

ModuleNotFoundError: No module named 'google'

In [9]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'