# Datos Faltantes

In [1]:
import pandas as pd

path = 'data/online_retail.csv'
retail_data = pd.read_csv(path)

In [81]:
missing_data = retail_data.isna()
print(missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]

In [82]:
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [83]:
missing_data_count = retail_data.isna().sum()
print('Conteo de datos faltantes por columna:\n',missing_data_count )

Conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [84]:
no_missing_rows = retail_data.dropna()
print('Datos sin filas con valores faltantes:\n', no_missing_rows)

Datos sin filas con valores faltantes:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[406829 rows x 8 columns]

In [85]:
no_missing_columns = retail_data.dropna(axis=1)
print('DAtos sin columnas con valores faltantes:\n', no_missing_columns)

DAtos sin columnas con valores faltantes:
        InvoiceNo StockCode  Quantity          InvoiceDate  UnitPrice  \
0         536365    85123A         6  2010-12-01 08:26:00       2.55
1         536365     71053         6  2010-12-01 08:26:00       3.39
2         536365    84406B         8  2010-12-01 08:26:00       2.75
3         536365    84029G         6  2010-12-01 08:26:00       3.39
4         536365    84029E         6  2010-12-01 08:26:00       3.39
...          ...       ...       ...                  ...        ...
541904    581587     22613        12  2011-12-09 12:50:00       0.85
541905    581587     22899         6  2011-12-09 12:50:00       2.10
541906    581587     23254         4  2011-12-09 12:50:00       4.15
541907    581587     23255         4  2011-12-09 12:50:00       4.15
541908    581587     22138         3  2011-12-09 12:50:00       4.95

               Country
0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
...                ...
541904          France
541905          France
541906          France
541907          France
541908          France

[541909 rows x 6 columns]

In [2]:
retail_data_filled_zeros = retail_data.fillna(0)
retail_data_filled_zeros_count = retail_data_filled_zeros.isna().sum()
print(retail_data_filled_zeros_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [4]:
mean_unit_price = retail_data['UnitPrice'].mean()
retail_data_filled_mean = retail_data['UnitPrice'].fillna(mean_unit_price)
print(retail_data_filled_mean)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64