# ManipulaciÃ³n de columnas

In [2]:
import pandas as pd

path = 'data/online_retail.csv'
df = pd.read_csv(path)

In [3]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [4]:
df['HighValue'] = df['TotalPrice'] > 16
print(df['HighValue'].head(10))

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: HighValue, dtype: bool

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [7]:
df['DiscountedPrice'] = df['UnitPrice'].apply(lambda x: x* 0.9)
print(df.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   HighValue  DiscountedPrice
0      False            2.295
1       True            3.051
2       True            2.475

In [8]:
def categorize_price(price):
  if price > 50:
    return 'High'
  elif price < 20:
    return 'Medium'
  else:
    return 'Low'

df['PriceCategory'] = df['UnitPrice'].apply(categorize_price)
print(df.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   HighValue  DiscountedPrice PriceCategory
0      False            2.295        Medium
1       True            3.051        Medium
2       True            2.475        Medium
3       True            3.051        Medium
4       True            3.051        Medium
5      False            6.885        Medium
6       True            3.825        Medium
7      False            1.665        Medium
8      False            1.665        Medium
9       True            1.521        Medium

In [9]:
pivot_table = pd.pivot_table(df, values = 'Quantity', index = 'Country',
                             columns='StockCode', aggfunc='sum')

print(pivot_table)

StockCode             10002  10080  10120  10123C  10123G  10124A  10124G  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN     NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN     NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN     NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN     NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
France                372.0    NaN   10.0     NaN     NaN     NaN     NaN
Germany                 1.0    NaN    NaN     NaN     NaN     NaN     NaN
Greece                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Hong Kong               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN     NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN     NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN     NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN     NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN     NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN     NaN
USA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Kingdom        615.0  495.0  183.0   -13.0   -38.0    16.0    17.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN     NaN

StockCode             10125   10133  10134  ...       M  PADS    POST     S  \
Country                                     ...
Australia               NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Austria                 NaN     NaN    NaN  ...     NaN   NaN    37.0   NaN
Bahrain                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Belgium                 NaN     NaN    NaN  ...     NaN   NaN   272.0   NaN
Brazil                  NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Canada                  NaN    40.0    NaN  ...     NaN   NaN     1.0   NaN
Channel Islands         NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Cyprus                  NaN     NaN    NaN  ...     0.0   NaN     1.0   NaN
Czech Republic          NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Denmark                 NaN     NaN    NaN  ...     NaN   NaN    41.0   NaN
EIRE                    NaN    40.0    NaN  ...    -2.0   NaN     NaN   NaN
European Community      NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Finland                 NaN     NaN    NaN  ...     2.0   NaN    89.0   NaN
France                470.0     NaN    NaN  ...   -16.0   NaN   803.0   NaN
Germany               120.0     NaN    NaN  ...     2.0   NaN  1104.0   NaN
Greece                  NaN     NaN    NaN  ...     NaN   NaN     6.0   NaN
Hong Kong               NaN     NaN    NaN  ...     0.0   NaN     2.0   NaN
Iceland                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Israel                  NaN    20.0    NaN  ...     NaN   NaN     NaN   NaN
Italy                   NaN     NaN    NaN  ...    -1.0   NaN    44.0   NaN
Japan                   NaN     NaN    NaN  ...    -3.0   NaN     NaN   NaN
Lebanon                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Lithuania               NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Malta                   NaN     NaN    NaN  ...     NaN   NaN    10.0   NaN
Netherlands             NaN     NaN    NaN  ...  -480.0   NaN    99.0   NaN
Norway                  NaN     NaN    NaN  ...     0.0   NaN    57.0   NaN
Poland                  NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Portugal                NaN    20.0    NaN  ...     1.0   NaN    97.0   NaN
RSA                     NaN     NaN    NaN  ...     1.0   NaN     NaN   NaN
Saudi Arabia            NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Singapore               NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Spain                   NaN     NaN    NaN  ...    -3.0   NaN   209.0   NaN
Sweden                  NaN     NaN    NaN  ...     1.0   NaN    37.0   NaN
Switzerland            20.0    10.0    NaN  ...     NaN   NaN    97.0   NaN
USA                     NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
United Arab Emirates    NaN     NaN    NaN  ...     NaN   NaN     1.0   NaN
United Kingdom        686.0  2645.0  -19.0  ...  3662.0   4.0  3328.0 -59.0
Unspecified             NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN

StockCode             gift_0001_10  gift_0001_20  gift_0001_30  gift_0001_40  \
Country
Australia                      NaN           NaN           NaN           NaN
Austria                        NaN           NaN           NaN           NaN
Bahrain                        NaN           NaN           NaN           NaN
Belgium                        NaN           NaN           NaN           NaN
Brazil                         NaN           NaN           NaN           NaN
Canada                         NaN           NaN           NaN           NaN
Channel Islands                NaN           NaN           NaN           NaN
Cyprus                         NaN           NaN           NaN           NaN
Czech Republic                 NaN           NaN           NaN           NaN
Denmark                        NaN           NaN           NaN           NaN
EIRE                           NaN           NaN           NaN           NaN
European Community             NaN           NaN           NaN           NaN
Finland                        NaN           NaN           NaN           NaN
France                         NaN           NaN           NaN           NaN
Germany                        NaN           NaN           NaN           NaN
Greece                         NaN           NaN           NaN           NaN
Hong Kong                      NaN           NaN           NaN           NaN
Iceland                        NaN           NaN           NaN           NaN
Israel                         NaN           NaN           NaN           NaN
Italy                          NaN           NaN           NaN           NaN
Japan                          NaN           NaN           NaN           NaN
Lebanon                        NaN           NaN           NaN           NaN
Lithuania                      NaN           NaN           NaN           NaN
Malta                          NaN           NaN           NaN           NaN
Netherlands                    NaN           NaN           NaN           NaN
Norway                         NaN           NaN           NaN           NaN
Poland                         NaN           NaN           NaN           NaN
Portugal                       NaN           NaN           NaN           NaN
RSA                            NaN           NaN           NaN           NaN
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN           NaN           NaN
Spain                          NaN           NaN           NaN           NaN
Sweden                         NaN           NaN           NaN           NaN
Switzerland                    NaN           NaN           NaN           NaN
USA                            NaN           NaN           NaN           NaN
United Arab Emirates           NaN           NaN           NaN           NaN
United Kingdom                39.0          20.0          37.0           3.0
Unspecified                    NaN           NaN           NaN           NaN

StockCode             gift_0001_50    m
Country
Australia                      NaN  NaN
Austria                        NaN  NaN
Bahrain                        NaN  NaN
Belgium                        NaN  NaN
Brazil                         NaN  NaN
Canada                         NaN  NaN
Channel Islands                NaN  NaN
Cyprus                         NaN  NaN
Czech Republic                 NaN  NaN
Denmark                        NaN  NaN
EIRE                           NaN  NaN
European Community             NaN  NaN
Finland                        NaN  NaN
France                         NaN  NaN
Germany                        NaN  NaN
Greece                         NaN  NaN
Hong Kong                      NaN  NaN
Iceland                        NaN  NaN
Israel                         NaN  NaN
Italy                          NaN  NaN
Japan                          NaN  NaN
Lebanon                        NaN  NaN
Lithuania                      NaN  NaN
Malta                          NaN  NaN
Netherlands                    NaN  NaN
Norway                         NaN  NaN
Poland                         NaN  NaN
Portugal                       NaN  NaN
RSA                            NaN  NaN
Saudi Arabia                   NaN  NaN
Singapore                      NaN  NaN
Spain                          NaN  NaN
Sweden                         NaN  NaN
Switzerland                    NaN  NaN
USA                            NaN  NaN
United Arab Emirates           NaN  NaN
United Kingdom                 4.0  1.0
Unspecified                    NaN  NaN

[38 rows x 4070 columns]

merge, join, combinar

In [10]:
# Ejercicios con merge()
df1 = pd.DataFrame({
  'key': ['A', 'B', 'C'],
  'value1': [1,2,3]
})

df2 = pd.DataFrame({
  'key': ['B', 'C', 'D'],
  'value2': [4,5,6]
})

# Ejercicios con concat()
df3 = pd.DataFrame({
  'A': ['A0', 'A1', 'A2'],
  'B': ['B0', 'B1', 'B2'],
})

df4 = pd.DataFrame({
  'A': ['A3', 'A4', 'A5'],
  'B': ['B3', 'B4', 'B5'],
}) 

# Ejercicios con join()
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  }, 
  index = ['K0', 'K1', 'K2']
) 

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
  }, 
  index = ['K0', 'K2', 'K3']
)

In [11]:
print(df1)
print(df2)
inner_merge = pd.merge(df1,df2, on='key',how='inner')
print(inner_merge)

outer_merge = pd.merge(df1,df2, on='key',how='outer')
print(outer_merge)

left_merge = pd.merge(df1,df2, on='key',how='left')
print(left_merge)

right_merge = pd.merge(df1,df2, on='key',how='right')
print(right_merge)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6
  key  value1  value2
0   B       2       4
1   C       3       5
  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0
  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0
  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

concatenacion de dataframe

In [12]:
print(df3)
print(df4)

vertical_concact = pd.concat([df3,df4])
print(vertical_concact)

hrizontal_concact = pd.concat([df3,df4],axis=1)
print(hrizontal_concact)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5
    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

joinprint(df3)
Existen varios tipos de joins en Pandas para combinar DataFrames. AquÃ­ te dejo ejemplos de cada uno:

Inner Join: Devuelve solo las filas con claves coincidentes en ambos DataFrames.


result = df1.merge(df2, on='key', how='inner')
Outer Join: Devuelve todas las filas de ambos DataFrames, llenando con NaN donde no hay coincidencias.


result = df1.merge(df2, on='key', how='outer')
Left Join: Devuelve todas las filas del DataFrame izquierdo y las coincidentes del derecho, llenando con NaN donde no hay coincidencias.


result = df1.merge(df2, on='key', how='left')
Right Join: Devuelve todas las filas del DataFrame derecho y las coincidentes del izquierdo, llenando con NaN donde no hay coincidencias.


result = df1.merge(df2, on='key', how='right')
Estos mÃ©todos son fundamentales para el anÃ¡lisis de datos en Pandas.

In [13]:
print(df5)
print(df6)

joined = df5.join(df6,how='inner')
print(joined)
joined = df5.join(df6,how='outer')
print(joined)
joined = df5.join(df6,how='left')
print(joined)

joined = df5.join(df6,how='right')
print(joined)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  DO
K2  C1  D1
K3  C2  D2
     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1
      A    B    C    D
K0   A0   B0   C0   DO
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2
     A   B    C    D
K0  A0  B0   C0   DO
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1
      A    B   C   D
K0   A0   B0  C0  DO
K2   A2   B2  C1  D1
K3  NaN  NaN  C2  D2