# Series temporales

In [27]:
import pandas as pd

path = 'data/online_retail.csv'
retail_data = pd.read_csv(path)
retail_data.head()



retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

retail_data.dropna(subset=['InvoiceDate'],inplace=True)
retail_data.set_index('InvoiceDate')


print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [ ]:
monthly_sales = sales_data['Quantity'].resample('M').sum()
print(monthly_sales)

InvoiceDate
2010-12-31    296362
2011-01-31    269379
2011-02-28    262833
2011-03-31    344012
2011-04-30    278585
2011-05-31    367852
2011-06-30    356922
2011-07-31    363418
2011-08-31    386612
2011-09-30    537496
2011-10-31    569666
2011-11-30    669915
2011-12-31    203836
Freq: M, Name: Quantity, dtype: int64

In [ ]:
max_sales_month = monthly_sales.idxmax()
max_sales_value = monthly_sales.max()

print(f"El mes con mayores ventas es {max_sales_month.strftime('%B %Y')} con un total de {max_sales_value} unidades vendidas.")

El mes con mayores ventas es November 2011 con un total de 669915 unidades vendidas.

In [13]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12,6))
monthly_sales.plot(kind='line')
plt.title('Ventas Mensuales')
plt.xlabel('Mes')
plt.ylabel('Cantidad Vendida')
plt.show()

NameError: name 'monthly_sales' is not defined